$font-stack: Helvetica, sans-serif;
$font-color: #5B5B5B;

$red-recording-color: #FF7171;
$white-keys-color: #FBFBFB;
$black-keys-color: #777777;


body {
  font: 100% $font-stack;
  color: $font-color;
}

header {
  margin: 1em 5% 2em 5%;

  h1 {
    font-weight: bold;
    font-size: 3em;
    margin: 0;
  }

  h2 {
    font-weight: lighter;
    font-size: 1.1em;
    margin: 0;
  }

  span {
    color: $red-recording-color;
  }
}

#synthesizer {
  user-select: none;
  // border: 1px solid #696969;
  // padding: 1em;
  // height: 20em;
  margin: 2em 5%;


  justify-content: center;
  align-items: center;

  display: flex;
  flex-wrap: nowrap;
  // overflow-x: auto;
  // overflow-y: hidden;
  // align-items: center;

  #piano {
    position: relative;
    display: inline-block;
    max-height: 17em;

    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;


    border: 1px solid $black-keys-color;
    padding: 1em;
    width: fit-content;

    .pianoKeys {
      position: relative;
      float: left;
    }

    .pianoKeys:first-child {
      margin-left: 0.1em !important;
    }

    .whiteKey {
      height: 16em;
      min-width: 3.5em;
      z-index: 1;
      border: 1px solid $black-keys-color;
      border-radius: 0 0 15px 15px;
      background: $white-keys-color;
    }

    #filler {
      visibility: hidden !important;
      min-width: 1em !important;
    }

    .blackKey {
      height: 10em;
      min-width: 2em;
      margin: 0 0 0 -1em;
      z-index: 2;
      border-radius: 0 0 10px 10px;
      background: $black-keys-color;
    }

    .pianoKeys[id*='G'],
    .pianoKeys[id*='A'],
    .pianoKeys[id*='E'],
    .pianoKeys[id*='D'],
    .pianoKeys[id*='B'] {
      margin: 0 0 0 -1em;
    }

    .whiteKey:hover, .blackKey:hover {
      background-color: #AFCBFF;
    }

    .active {
      background-color: #72A5FF !important;
    }
  }

  #control-panel {
    // flex: 0 0 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    // vertical-align: middle;
    // display: table-cell;

    float: right;

    border: 1px solid $black-keys-color;
    padding: 1em;
    width: 4em;
    // width: 8%;
    height: 16.1em;
    // display: inline-block;
    margin: 0 0 0 1em;

    select {
      font-size: 1em;
      width: 4em;
      border: 0;
      outline: 1px solid #848484;
      text-align-last: center;
      margin: 0.5em 0;
      height: 1.5em;
    }
  }

}


.blinking {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


button {
  border-style: none;
  border: 1px solid $black-keys-color;
  background-color: white;
  padding: 0.7em;
}

button:hover {
  background-color: #CBCBCB;
}

#loopingStation {
  margin: 2em 5%;
  border: 1px solid $black-keys-color;
  max-height: 20em;
  overflow: auto;
}

#loopControls {
  margin: 2em 5%;

  button {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 1em;
  }
}

// #time {
//   height: 38px;
//   width: 150px;
//   display: inline-block;
//
//   // border-style: none;
//   border: 1px solid $black-keys-color;
//   background-color: white;
//   // padding: 0.7em;
//
//   position: relative;
//   top: 0.7em;
// }
